<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="username" placeholder="Username"
      [ngClass]="{'is-invalid':registerForm.get('username').errors && registerForm.get('username').touched}">
    <div class="invalid-feedback">Please choose a username</div>
  </div>


  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid':registerForm.get('password').errors 
      && registerForm.get('password').touched}">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is
      required</div>

  </div>

  <div class="form-group">
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password"
      [ngClass]="{'is-invalid':registerForm.get('confirmPassword').errors 
      && registerForm.get('confirmPassword').touched 
      || registerForm.get('confirmPassword').touched 
      && registerForm.hasError('mismatch')}">
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
      && registerForm.get('confirmPassword').touched">
      Password is
      required</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('mismatch') 
      && registerForm.get('confirmPassword').touched">
      Passwords have to match</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success">Register</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
